.article {
    width: 500px;
    /* border-width: 1px;
    border-color: black;
    border-style: solid; */
    border: 1px solid black;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.article h2 {
    /* tạo khoảng không gian bên ngoài thẻ h2 */
    margin-bottom: 10px;
}
.article p {
    /* Tạo khoảng không gian giữa content và border */
    padding-bottom: 10px;
}
.article img {
    width: 100%;
}

/* Mặc định một số thẻ trong html đã có margin và padding */